* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
canvas {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
.hidden {
  display: none;
}

#scoreBoard {
  position: absolute;
  border-radius: 23px;
  padding: 0 20px;
  top: 1%;
  left: 50%;
  color: black;
  font-size: 1.2rem;
  font-family: sans-serif;
  transform: translateX(-50%);
  background-color: gainsboro;
  width: 40%;
  height: 5%;
  align-items: center;
  justify-content: space-between;
  .logo {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url(https://imgs.search.brave.com/OIOL4HSuyTw2EAwmBS_eM7IgOynAn8am6txzTVG9zZU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9hdmF0/YXJzLmdpdGh1YnVz/ZXJjb250ZW50LmNv/bS91LzY5NTgyMjI2/P3Y9NA);
    background-size: cover;
    background-position: center;
  }
  .current,
  .high {
    font-weight: 700;
    text-shadow: white 1px 1px 2px;
  }
}

#gameOverScreen {
  position: absolute;
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  .card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    h1 {
      font-size: 3rem;
      font-weight: 800;
      color: maroon;
      text-shadow: black 1px 2px 3px;
    }
    p {
      font-size: 3rem;
      margin: 20px 0;
      color: salmon;
      font-weight: 900;
      text-shadow: black 1px 2px 3px;
    }
    .btnContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      span {
        color: gainsboro;
        font-size: 1rem;
      }

      #restartBtn {
        padding: 10px 20px;
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #28a745;
        color: white;
      }
    }
  }
}

#gameStartScreen {
  position: absolute;
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  .card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 50%;
    width: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    h1 {
      font-size: 4rem;
      font-weight: 800;
      color: gold;
    }
    .sher {
      font-size: 6rem;
    }
    p {
      font-size: 1.5rem;
      margin: 20px 0;
      font-weight: 600;
      color: gainsboro;
      text-shadow: black 1px 2px 3px;
    }
    .btnContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      span {
        color: gainsboro;
        font-size: 1rem;
      }

      #startBtn {
        padding: 10px 20px;
        font-size: 2rem;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        background-color: #007bff;
        color: white;
      }
    }
  }
}
